{% extends 'main.html' %}


{% block author_menu %}

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    {{ user.username|title }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/auth/logout/">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>


{% endblock %}


{% block content %}

    <!-- PANEL START -->
    <div ng-app="note" ng-cloak>
    <div class="menu" ng-controller="PanelController as panel">
        <ul class="nav nav-tabs">
            <li><a role="presentation" href ng-click="panel.selectTab(1);" ng-class="{ active: panel.isSelected(1) }">Home</a></li>
            <li><a role="presentation" href ng-click="panel.selectTab(2);" ng-class="{ active: panel.isSelected(2) }">Notes</a></li>
            <li><a role="presentation" href ng-click="panel.selectTab(3);" ng-class="{ active: panel.isSelected(3) }">Tags</a></li>
            <li><a role="presentation" href ng-click="panel.selectTab(4);" ng-class="{ active: panel.isSelected(4) }">Categories</a></li>
        </ul>
    <!-- PANEL END -->

        <div ng-controller='NoteController as note'>

            <div ng-show="panel.isSelected(1)">
                <h1>Home page</h1>
                <div class="row">
                    <div class="left col-sm-3">
                        <div ng-hide='note.categories.length'>
                            <h3 style="color: gray; margin-top: 50px;">Categories not found</h3>
                            <p>Click here to <a href="#">add new category</a></p>
                        </div>
                        <ul style="list-style: none; font-size: 14px;" ng-repeat='category in note.categories'>
                            <li>
                                <span class="glyphicon glyphicon-list-alt"></span> <a href="#">[[ category.name ]]</a>
                                {# <span style="font-size: 10px; background-color:tomato;" class="badge">{{ node.notes_set.all|length }}</span> #}
                            </li>
                        </ul>   
                    </div>

                    <div class="right col-sm-8 col-sm-offset-1">
                        <h2>My Notes: </h2>
                        <div ng-hide='note.notes.length'>
                            <h3 style="color: gray; margin-top: 50px;">Notes not found</h3>
                            <p>Click here to <a href="#">add new note</a></p>
                        </div>
                    
                        <div ng-repeat='note in note.notes'>
                            <p>
                                <a  role="button" data-toggle="collapse" href="#[[ note.id ]]" aria-expanded="false" aria-controls="collapseExample">
                                    <span ng-show='note.title'>
                                        [[ note.title ]]
                                    </span>
                                    <span ng-show='!note.title'>
                                        no title
                                    </span>
                                </a>
                            </p>

                            <div class="collapse" id="[[ note.id ]]">
                                <div class="well">
                                    <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a href="#" onclick="return confirm('Do you want to delete?');"><span class="glyphicon glyphicon-remove"></span></a>
                                    <br>
                                    <span style="background-color:[[ note.color ]]; width: 10px; height: 10px; display: inline-block;"></span>
                                    [[ note.context ]]
                                    <div ng-show='note.tag.length'>
                                        <hr>
                                        <span ng-repeat='tag in note.tag'>
                                            <a href="#"><span class="glyphicon glyphicon glyphicon-tags"></span> [[ tag.name ]]</a>
                                        </span>
                                    </div>
                                    <div ng-show='note.category.length'>
                                        <hr>
                                        <span ng-repeat='category in note.category'>
                                            <a href="#">@ [[ category.name ]]</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>

            <hr>

            <div ng-show="panel.isSelected(4)">
            
                    <form action="#" method="POST" class="form login_form">

                        <h1>Create Category</h1>
                            <button type="submit" class="btn btn-primary">
                                 Submit
                            </button>

                    </form>
                    <hr>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Your Categories:</h3>
                        </div>
                        <form action="#" method="POST">
                            <button type="submit" class="btn btn-primary pull-right">
                                Delete
                            </button>
                            
                            <table class="table table-hover">
                                <thead style="font-weight: bold;">
                                    <tr>
                                        <td>#</td>
                                        <td>Name</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div ng-show='note.categories.length'>
                                        <tr ng-repeat='category in note.categories'>
                                            <td><input type="checkbox" name="remove_cat" value=""></td>
                                            <td><a href=""> [[category.name]]</a></td>
                                            <td><a href="" onclick="return confirm('Do you want to delete?');"><span class="glyphicon glyphicon-remove"></span></a></td>
                                        </tr>
                                    </div>
                                </tbody>
                            </table>
                        </form>
                    </div>

            </div>


            <div ng-show="panel.isSelected(3)">
                
                <form action="#" method="POST" class="form login_form">

                    <h1>Create Tag</h1>
                        <button type="submit" class="btn btn-primary">
                             Submit
                        </button>

                </form>
                <hr>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your Tags:</h3>
                    </div>
                    <form action="#" method="POST">
                        <button type="submit" class="btn btn-primary pull-right">
                            Delete
                        </button>
                        
                        <table class="table table-hover">
                            <thead style="font-weight: bold;">
                                <tr>
                                    <td>#</td>
                                    <td>Name</td>
                                </tr>
                            </thead>
                            <tbody>
                                <div ng-show='note.tags.length'>
                                    <tr ng-repeat='tag in note.tags'>
                                        <td><input type="checkbox" name="remove_cat" value=""></td>
                                        <td><a href=""> [[tag.name]]</a></td>
                                        <td><a href="" onclick="return confirm('Do you want to delete?');"><span class="glyphicon glyphicon-remove"></span></a></td>
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                    </form>
                </div>

            </div>

            <div ng-show="panel.isSelected(2)">
                
                <form action="#" method="POST" class="form login_form">

                    <h1>Create Note</h1>
                        <button type="submit" class="btn btn-primary">
                             Submit
                        </button>

                </form>
                <hr>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your Notes:</h3>
                    </div>
                    <form action="#" method="POST">
                        <button type="submit" class="btn btn-primary pull-right">
                            Delete
                        </button>
                        
                        <table class="table table-hover">
                            <thead style="font-weight: bold;">
                                <tr>
                                    <td>#</td>
                                    <td>Name</td>
                                </tr>
                            </thead>
                            <tbody>
                                <div ng-show='note.notes.length'>
                                    <tr ng-repeat='note in note.notes'>
                                        <td><input type="checkbox" name="remove_cat" value=""></td>
                                        <td><a href=""> [[note.title]]</a></td>
                                        <td><a href="" onclick="return confirm('Do you want to delete?');"><span class="glyphicon glyphicon-remove"></span></a></td>
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                    </form>
                </div>

            </div>

        </div>
    </div>


<script type="text/javascript">
    
    // var app = angular.module('note', []);
    var app = angular.module('note', []).config(function($httpProvider, $interpolateProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
        $interpolateProvider.startSymbol('[[').endSymbol(']]');
    });

    app.controller('NoteController', function($http) {
        var that = this;

        this.colors = '';
        this.tags = '';
        this.categories = '';
        this.notes = '';

        $http.get('/colors/').success(function(data) { 
            that.colors = data;
        });
        $http.get('/tags/').success(function(data) { 
            that.tags = data;
        });
        $http.get('/categories/').success(function(data) { 
            that.categories = data;
            console.log(data);
        });
        $http.get('/notes/').success(function(data) { 
            that.notes = data;
        });
    });

    app.controller('PanelController', function() {
        this.tab = 1;

        this.selectTab = function(setTab) {
            this.tab = setTab;
        };

        this.isSelected = function(checkTab) {
            return this.tab === checkTab;
        };
    });

</script>


{% endblock %}

