{% extends 'main.html' %}
{% load rest_framework %}


{% block author_menu %}

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    {{ user.username|title }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/auth/logout/">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>


{% endblock %}


{% block content %}

    <!-- PANEL START -->
    <div ng-app="note" ng-cloak>
        <div class="menu" ng-controller="PanelController as panel">
            <ul class="nav nav-tabs">
                <li><a role="presentation" href ng-click="panel.selectTab(1);" ng-class="{ active: panel.isSelected(1) }">Home</a></li>
                <li><a role="presentation" href ng-click="panel.selectTab(2);" ng-class="{ active: panel.isSelected(2) }">Notes</a></li>
                <li><a role="presentation" href ng-click="panel.selectTab(3);" ng-class="{ active: panel.isSelected(3) }">Tags</a></li>
                <li><a role="presentation" href ng-click="panel.selectTab(4);" ng-class="{ active: panel.isSelected(4) }">Categories</a></li>
                <li><a role="presentation" href ng-click="panel.selectTab(5);" ng-class="{ active: panel.isSelected(5) }">Images</a></li>
            </ul>
        <!-- PANEL END -->

        <div ng-controller='NoteController as note'>

            <div ng-show="panel.isSelected(1)">
                <h1>Home page</h1>
                <div class="row">
                    <div class="left col-sm-3">
                        <div ng-hide='note.categories.length'>
                            <h3 style="color: gray; margin-top: 50px;">Categories not found</h3>
                            <p>Click here to <a href="#">add new category</a></p>
                        </div>
                        <ul style="list-style: none; font-size: 14px;" ng-repeat='category in note.categories'>
                            <li>
                                <span class="glyphicon glyphicon-list-alt"></span> <a href="#">[[ category.name ]]</a>
                                {# <span style="font-size: 10px; background-color:tomato;" class="badge">{{ node.notes_set.all|length }}</span> #}
                            </li>
                        </ul>
                    </div>

                    <div class="right col-sm-8 col-sm-offset-1">
                        <h2>My Notes: </h2>
                        <div ng-hide='note.notes.length'>
                            <h3 style="color: gray; margin-top: 50px;">Notes not found</h3>
                            <p>Click here to <a href="#">add new note</a></p>
                        </div>

                        <div ng-repeat='note in note.notes'>
                            <p>
                                <a  role="button" data-toggle="collapse" href="#[[ note.id ]]" aria-expanded="false" aria-controls="collapseExample">
                                    <span ng-show='note.title'>
                                        [[ note.title ]]
                                    </span>
                                    <span ng-show='!note.title'>
                                        no title
                                    </span>
                                </a>
                            </p>

                            <div class="collapse" id="[[ note.id ]]">
                                <div class="well">
                                    <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a href="#" onclick="return confirm('Do you want to delete?');"><span class="glyphicon glyphicon-remove"></span></a>
                                    <br>
                                    <span style="background-color:[[ note.color ]]; width: 10px; height: 10px; display: inline-block;"></span>
                                    [[ note.context ]]
                                    <div ng-show='note.tag.length'>
                                        <hr>
                                        <span ng-repeat='tag in note.tag'>
                                            <a href="#"><span class="glyphicon glyphicon glyphicon-tags"></span> [[ tag.name ]]</a>
                                        </span>
                                    </div>
                                    <div ng-show='note.category.length'>
                                        <hr>
                                        <span ng-repeat='category in note.category'>
                                            <a href="#">@ [[ category.name ]]</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div ng-show="panel.isSelected(4)">


                    <h1>[[ note.category.helpText.action ]]</h1>
                    <input type="text" name='title' value="[[ note.category.data.name ]]" ng-model="note.category.data.name" />
                    <button ng-hide="note.category.id" type="submit" class="btn btn-primary" ng-click='note.category.actions.post()'>Submit</button>
                    <span ng-show="note.category.id">
                        <button type="submit" class="btn btn-primary" ng-click='note.category.actions.put([[note.category.id]])'>Change</button>
                        <button type="submit" class="btn btn-primary" ng-click='note.category.actions.clear()'>Cancel</button>
                    </span>

                    <hr>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Your Categories:</h3>
                        </div>


                            <a href class="btn btn-primary pull-right" ng-click="note.category.actions.deleteCats();">Delete</a>

                            <table class="table table-hover">
                                <thead style="font-weight: bold;">
                                    <tr>
                                        <td>#</td>
                                        <td>Name</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div ng-show='note.categories.length'>
                                        <tr ng-repeat='category in note.categories'>
                                            <td><input type="checkbox" checklist-model="note.user.categories" checklist-value="category.id"></td>
                                            <td><a href ng-click='note.category.actions.set([[category.id]], [[category.name]])'>[[category.name]]</a></td>
                                            <td><a href="" ng-click='note.category.actions.delete([[category.id]])'><span class="glyphicon glyphicon-remove"></span></a></td>
                                        </tr>
                                        <!-- ng-click='note.putCateg([[ category.id ]])' -->
                                    </div>
                                </tbody>
                            </table>

                    </div>

            </div>


            <div ng-show="panel.isSelected(3)">

                <h1>[[ note.tag.helpText.action ]]</h1>
                <input type="text" name='title' value="[[ note.tag.data.name ]]" ng-model="note.tag.data.name" />
                <button ng-hide="note.tag.id" type="submit" class="btn btn-primary" ng-click='note.tag.actions.post()'>Submit</button>
                <span ng-show="note.tag.id">
                    <button type="submit" class="btn btn-primary" ng-click='note.tag.actions.put([[note.tag.id]])'>Change</button>
                    <button type="submit" class="btn btn-primary" ng-click='note.tag.actions.clear()'>Cancel</button>
                </span>

                <hr>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your Tags:</h3>
                    </div>

                        <a href class="btn btn-primary pull-right" ng-click="note.tag.actions.deleteTags();">Delete</a>

                        <table class="table table-hover">
                            <thead style="font-weight: bold;">
                                <tr>
                                    <td>#</td>
                                    <td>Name</td>
                                </tr>
                            </thead>
                            <tbody>
                                <div ng-show='note.tags.length'>
                                    <tr ng-repeat='tag in note.tags'>
                                        <td><input type="checkbox" checklist-model="note.user.tags" checklist-value="tag.id"></td>
                                        <td><a href ng-click='note.tag.actions.set([[tag.id]], [[tag.name]])'>[[tag.name]]</a></td>
                                        <td><a href="" ng-click='note.tag.actions.delete([[tag.id]])'><span class="glyphicon glyphicon-remove"></span></a></td>
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                </div>

            </div>

            <div ng-show="panel.isSelected(2)">

                    <h1>[[ note.note.helpText.action ]]
                        <button type="submit" ng-hide="note.note.id" class="btn btn-primary" ng-click="note.note.actions.post()">Submit</button>
                         <span ng-show="note.note.id">
                            <button type="submit" class="btn btn-primary" ng-click='note.note.actions.put([[note.note.id]])'>Change</button>
                            <button type="submit" class="btn btn-primary" ng-click='note.note.actions.clear()'>Cancel</button>
                        </span>
                    </h1>
                    <div class="form-group">
                        <label for="inputTitle" class="col-sm-offset-1 col-sm-1 control-label">Title</label>
                        <div class="col-sm-10">
                          <input type="text" ng-model="note.note.data.title" class="form-control" id="inputTitle" placeholder="Title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputContext" class="col-sm-offset-1 col-sm-1 control-label">Context</label>
                        <div class="col-sm-10">
                          <textarea name="context" ng-model="note.note.data.context" id="inputContext" class="form-control" rows="5" placeholder="Context"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputColor" class="col-sm-offset-1 col-sm-1 control-label">Colors</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="inputColor" ng-model="note.note.data.color" ng-options="c.id as c.name for c in note.colors"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputTag" class="col-sm-offset-1 col-sm-1 control-label">Tags</label>
                        <div class="col-sm-10">
                            <select multiple class="form-control" id="inputTag" ng-model="note.note.data.tag" ng-options="t.id as t.name for t in note.tags"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCateg" class="col-sm-offset-1 col-sm-1 control-label">Categories</label>
                        <div class="col-sm-10">
                            <select multiple class="form-control" id="inputCateg" ng-model="note.note.data.category" ng-options="c.id as c.name for c in note.categories"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputImag" class="col-sm-offset-1 col-sm-1 control-label">Images</label>
                        <div class="col-sm-10">
                            <select multiple class="form-control" id="inputImag" ng-model="note.note.data.image" ng-options="i.id as i.title for i in note.images"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-show="note.note.data.image.length" class="col-sm-offset-2 col-sm-8">
                            <span ng-repeat="img in note.note.data.image"><img ng-src="[[note.getUrl(img)]]" height="125" alt=""></span>
                        </div>
                    </div>

                <hr>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your Notes:</h3>
                    </div>

                        <a href class="btn btn-primary pull-right" ng-click="note.note.actions.deleteNots();">Delete</a>

                        <table class="table table-hover">
                            <thead style="font-weight: bold;">
                                <tr>
                                    <td>#</td>
                                    <td>Name</td>
                                </tr>
                            </thead>
                            <tbody>
                                <div ng-show='note.notes.length'>
                                    <tr ng-repeat='localNote in note.notes'>
                                        <td><input type="checkbox" checklist-model="note.user.notes" checklist-value="localNote.id"></td>
                                        <td><a href ng-click="note.note.actions.set(localNote)"> [[localNote.title]]</a></td>
                                        <td><a href="" ng-click="note.note.actions.delete([[localNote.id]])"><span class="glyphicon glyphicon-remove"></span></a></td>
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                </div>
            </div>

            <div ng-show="panel.isSelected(5)">


                    <h1>Create Images</h1>
                    <form action="/images/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <input type="text" name="title">
                        <input type="file" name="file">
                        <button type="submit" class="btn btn-primary">
                                Submit
                        </button>
                    </form>


                <hr>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your Images:</h3>
                    </div>

                         <a href class="btn btn-primary pull-right" ng-click="note.image.actions.deleteImages();">Delete</a>

                        <table class="table table-hover">
                            <thead style="font-weight: bold;">
                                <tr>
                                    <td>#</td>
                                    <td>Name</td>
                                    <td>Image</td>
                                </tr>
                            </thead>
                            <tbody>
                                <div ng-show='note.images.length'>
                                    <tr ng-repeat='image in note.images'>
                                        <td><input type="checkbox" checklist-model="note.user.images" checklist-value="image.id"></td>
                                        <td><a href ng-click="note.image.actions.set(image)">[[ image.title ]]</a></td>
                                        <td><img ng-src="{{ MEDIA_URL }}[[image.img_dir]]" alt="" width='25'></td>
                                        <td><a href ng-click="note.image.actions.delete([[image.id]])"><span class="glyphicon glyphicon-remove"></span></a></td>
                                    </tr>
                                </div>
                            </tbody>
                        </table>

                </div>

            </div>

        </div>
    </div>
    </div>


<script type="text/javascript">

    angular
        .module('note', ["checklist-model"])
            .config(function($httpProvider, $interpolateProvider) {
                $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
                $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
                $interpolateProvider.startSymbol('[[').endSymbol(']]');
            })
        .controller('NoteController', function($http) {
            var that = this;

            this.colors = '';
            this.tags = '';
            this.categories = '';
            this.notes = '';
            this.images = '';

            // USER's Actions
            this.user = {
                categories: [],
                tags: [],
                notes: [],
                images: []
            };

            // CATEGORY
            this.category = {
                id: '',
                url: '/categories/',
                data: {
                    name: '',
                },
                helpText: {
                    action: 'Create Category',
                },
                actions: {
                    get: function() {
                        $http.get(that.category.url).success(function(data) {that.categories = data;});
                    },
                    post: function() {
                        $http.post(that.category.url, that.category.data).success(function(data) { alert('success'); });
                    },
                    put: function(id) {
                        $http.put(that.category.url + id + '/', that.category.data).success(alert('success'));
                    },
                    delete: function(id) {
                        if (confirm('Do you really want to delete?')) {
                            $http.delete(that.category.url + id + '/');
                        };
                    },
                    deleteCats: function() {
                        for (var i = 0; i < that.user.categories.length; i++) {
                            that.category.actions.delete(that.user.categories[i]);
                        };
                    },
                    set: function(id, name) {
                        that.category.id = id;
                        that.category.data.name = name;
                        that.category.helpText.action = 'Change Category ' + id;
                    },
                    clear: function() {
                        that.category.id = '';
                        that.category.data.name = '';
                        that.category.helpText.action = 'Create Category';
                    },
                }
            };

            // TAG
            this.tag = {
                id: '',
                url: '/tags/',
                data: {
                    name: '',
                },
                helpText: {
                    action: 'Create tag',
                },
                actions: {
                    get: function() {
                        $http.get(that.tag.url).success(function(data) {that.tags = data;});
                    },
                    post: function() {
                        $http.post(that.tag.url, that.tag.data).success(function(data) { alert('success'); });
                    },
                    put: function(id) {
                        $http.put(that.tag.url + id + '/', that.tag.data).success(alert('success'));
                    },
                    delete: function(id) {
                        if (confirm('Do you really want to delete?')) {
                            $http.delete(that.tag.url + id + '/');
                        };
                    },
                    deleteCats: function() {
                        for (var i = 0; i < that.user.tags.length; i++) {
                            that.tag.actions.delete(that.user.tags[i]);
                        };
                    },
                    set: function(id, name) {
                        that.tag.id = id;
                        that.tag.data.name = name;
                        that.tag.helpText.action = 'Change tag ' + id;
                    },
                    clear: function() {
                        that.tag.id = '';
                        that.tag.data.name = '';
                        that.tag.helpText.action = 'Create tag';
                    },
                }
            };

            // NOTE
            this.note = {
                id: '',
                url: '/notes/',
                data: {
                    title: '',
                    context: '',
                    color: '',
                    tag: [],
                    category: [],
                    image: []
                },
                helpText: {
                    action: 'Create Note',
                },
                actions: {
                    get: function() {
                        $http.get(that.note.url).success(function(data) {that.notes = data;});
                    },
                    post: function() {
                        $http.post(that.note.url, that.note.data).success(function(data) { alert('success'); });
                    },
                    put: function(id) {
                        $http.put(that.note.url + id + '/', that.note.data).success(alert('success'));
                    },
                    delete: function(id) {
                        if (confirm('Do you really want to delete?')) {
                            $http.delete(that.note.url + id + '/');
                        };
                    },
                    deleteNots: function() {
                        for (var i = 0; i < that.user.notes.length; i++) {
                            that.note.actions.delete(that.user.notes[i]);
                        };
                    },
                    set: function(data) {
                        that.note.id = data.id;
                        that.note.data.title = data.title;
                        that.note.data.context = data.context;
                        that.note.data.color = data.color;
                        that.note.data.tag = data.tag;
                        that.note.data.category = data.category;
                        that.note.data.image = data.image;
                        that.note.helpText.action = 'Change Note ' + that.note.data.id
                    },
                    clear: function() {
                        that.note.id = '';
                        that.note.data.title = '';
                        that.note.data.context = '';
                        that.note.data.color = '';
                        that.note.data.tag = [];
                        that.note.data.category = [];
                        that.note.data.image = [];
                        that.note.helpText.action = 'Create Note';
                    },
                    isSelect: function(id, array) {
                        return array.indexOf(id) != -1 || false;
                    },
                }
            };

            // IMAGES
            this.image = {
                id: '',
                url: '/images/',
                data: {
                    name: '',
                    file: ''
                },
                helpText: {
                    action: 'Create image',
                },
                actions: {
                    get: function() {
                        $http.get(that.image.url).success(function(data) {that.images = data;});
                    },
                    post: function() {
                        $http.post(that.image.url, that.image.data).success(function(data) { alert('success'); });
                    },
                    put: function(id) {
                        $http.put(that.image.url + id + '/', that.image.data).success(alert('success'));
                    },
                    delete: function(id) {
                        if (confirm('Do you really want to delete?')) {
                            $http.delete(that.image.url + id + '/');
                        };
                    },
                    deleteImages: function() {
                        for (var i = 0; i < that.user.images.length; i++) {
                            that.image.actions.delete(that.user.images[i]);
                        };
                    },
                    set: function(id, name) {
                        that.image.id = id;
                        that.image.data.name = name;
                        that.image.helpText.action = 'Change image ' + id;
                    },
                    clear: function() {
                        that.image.id = '';
                        that.image.data.name = '';
                        that.image.helpText.action = 'Create image';
                    },
                }
            };


            $http.get('/colors/').success(function(data) {
                that.colors = data;
            });
            // $http.get('/tags/').success(function(data) {
            //     that.tags = data;
            // });
            this.tag.actions.get();
            this.category.actions.get();
            $http.get('/notes/').success(function(data) {
                that.notes = data;
            });
            $http.get('/images/').success(function(data) {
                that.images = data;
            });


            this.test = function(some) {
                alert(some);
                console.log(some);
            };

            this.getUrl = function(id) {
                for (var i = 0; i < this.images.length; i++) {
                    if (that.images[i].id == id) {
                        return that.images[i].img_dir;
                    };
                };
            };

        })
        .controller('PanelController', function() {
            this.tab = 1;

            this.selectTab = function(setTab) {
                this.tab = setTab;
            };

            this.isSelected = function(checkTab) {
                return this.tab === checkTab;
            };
        });

</script>


{% endblock %}
