Django==1.9
Pygments==2.0.2
argparse==1.2.1
django-bootstrap3==6.2.2
django-mptt==0.7.4
django-mptt-admin==0.3.1
djangorestframework==3.3.1
http==0.02
httpie==0.9.2
requests==2.8.1
six==1.10.0
wsgiref==0.1.2
